@page
@{
    ViewData["Title"] = "React Notes";
}

@section scripts
{
    <environment names="Development">
        <script src="~/dist/react_notes.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/react_notes.js" asp-append-version="true"></script>
    </environment>
}

<div id="react-notes-app"></div>